.summary {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;
    margin: 25px 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 20px;
}

.row div {
    width: 50%;
    text-align: center;
}

.result {
    font-size: 30px;
}

.title {
    color: rgba(219,21,99,1);
    font-weight: bold;
    font-size: 24px;
}

